.slideshow {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Ajusta este valor al ancho que prefieras */
    margin: 0 auto;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
